
:root {
    --primary: #ffffff;
    --secondary: #000000;
    --top-color: #261360;
    --search-button: #6991e3;
    --city-button: #aeaeae;
    --forecast-card: #323d4f;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.weather-header {
    background: linear-gradient(to left, var(--top-color), #465ab8);
}

.btn {
    background-color: var(--search-button);
}

#border-line{
    margin-top: 15px;
    height: 2px;
    background-color: var(--city-button);
}

.city-btn {
    background-color: var(--city-button);
}

.current-forecast {
    border: 1px solid black;
    height: 200px;
}

.card {
    background-color: var(--forecast-card);
    color: var(--primary);
}
footer {
    text-align: center;
    font-weight: bold;
}